<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/simple_layout}">
<head>
    <title th:text="#{auth.signout.form.title}">sign out</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" id="app">
    <!--Contents-->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <h5 class="card-header indigo lighten-1 white-text text-center py-4">
                    <strong>Sign out</strong>
                </h5>
                <div class="card-body px-lg-4 pt-0">
                    <form class="text-center" action="/app/logout" th:action="@{/logout}" method="post">
                        <button class="btn indigo accent-4 text-white btn-block my-4" type="submit">Sign out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Contents-->

    <div th:replace="_layout/components::home"></div>
</div>
</body>
</html>