<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/layout}">
<head>
    <title th:text="#{account.change.password.form.title}">change password</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" id="app">
    <div class="row justify-content-center" th:if="${FORM_ERROR != null}">
        <div class="col">
            <div class="alert alert-warning" role="alert">
                <h5 class="alert-heading">フォームエラーメッセージ</h5>
                <p class="mb-0" th:text="${FORM_ERROR}">message</p>
            </div>
        </div>
    </div>

    <div th:replace="_layout/components::table"></div>

    <!--Contents-->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <h5 class="card-header indigo lighten-1 white-text text-center py-4">
                    <strong>Change password</strong>
                </h5>
                <div class="card-body px-lg-4 pt-0">
                    <form class="text-center" action="#" th:action="@{/account/change/password}" th:object="${changePasswordForm}" method="post">
                        <div class="md-form">
                            <input id="newPassword" type="text" class="form-control" name="newPassword" th:field="*{newPassword}">
                            <label for="newPassword">new password</label>
                            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="text-danger">error</div>
                        </div>
                        <div class="md-form">
                            <input id="reNewPassword" type="text" class="form-control" name="reNewPassword" th:field="*{reNewPassword}">
                            <label for="reNewPassword">(re) new password</label>
                            <div th:if="${#fields.hasErrors('reNewPassword')}" th:errors="*{reNewPassword}" class="text-danger">error</div>
                        </div>
                        <button class="btn indigo accent-4 text-white btn-block my-4" type="submit">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Contents-->

    <div th:replace="_layout/components::home"></div>
</div>
</body>
</html>