<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/layout}">
<head>
    <title th:text="#{memo.index.title}">memo</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" id="app">
    <!--Contents-->
    <nav class="navbar navbar-light indigo darken-1 my-2">
        <span class="navbar-brand white-text">Memo</span>
    </nav>
    <div class="row justify-content-center">
        <div class="col-lg-2 col-sm-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action list-group-item-primary">
                    <a href="/app/memo" th:href="@{/memo}">Memo</a>
                </li>
                <li class="list-group-item list-group-item-action list-group-item-primary">
                    <a href="/app/memo/list" th:href="@{/memo/list}">Memo List</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-sm-10">
            <h5 th:text="#{memo.index.description}">description</h5>
            <div>
                <p>contents area</p>
            </div>
        </div>
    </div>
    <!--Contents-->
</div>
</body>
</html>